
@model EasyUkr.WebApi.Models.ViewModels.Topic
@{
    ViewBag.Title = "CreateTopic";
}
<body>
<center>
    <h2>Додавання нової категорії</h2>
    @using (Html.BeginForm("CreateTopic", "CreatingObjects", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <fieldset>
            <p>Назва категорії</p>
            @Html.TextBoxFor(x => x.Header)
            <p>Переклад</p>
            @Html.TextBoxFor(x => x.Translate)
            <h3>Выберите файл для загрузки</h3>
            <div class="editor-field">
                <input type="file" name="uploadImage"/>
            </div>
            <p>
                <input type="submit" value="Добавить"/>
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Вернуться к списку", "TopicView", "Admin")
    </div>
</center>
</body>
