@model EasyUkr.WebApi.Models.ViewModels.Topic
@{
    ViewBag.Title = "CreateGrammar";
}
<body>
<center>
    <h2>Adding new recomendation category</h2>
    @using (Html.BeginForm("CreateGrammar", "Grammar", FormMethod.Post))
    {
        <fieldset>
            <p>Назва граматики</p>
            @Html.TextBoxFor(x => x.Header)
            <p>Переклад</p>
            @Html.TextBoxFor(x => x.Translate)
            <h3>Выберите файл для загрузки</h3>
            <div class="editor-field">
                <input type="file" name="uploadFile"/>
            </div>
            <p>
                <input type="submit" value="Добавить"/>
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Вернуться к списку", "GrammarView", "Admin")
    </div>
</center>
</body>
